@import url('https://fonts.googleapis.com/css2?family=Poppins');

#converter-block
{
    width: 714px;
    height: 193px;
    margin-top: 99px;
    position: absolute;
    background: #2E0039;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
}

#title-txt
{
    color: #FFFFFF;
    margin-left: 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

#dropdown
{
    position: relative;
    display: inline-block;
    margin-left: 38px;
}

select
{
    width: 254px;
    background-color: #2E0039;
    font-family: "Poppins";
    font-size: 14px;
    color: #FFFFFF;
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
}

#input
{
    display: inline-block;
    margin-left: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* Turn off input increase/decrease arrows */
    -webkit-appearance: none;
    margin: 0;
}

#input-val
{
    background-color: #2E0039;
    display: inline-block;
    background-color: #2E0039; border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    color: white;
    font-family: "Poppins"; 
    text-align: right;
    font-size: 14px; 
    width: 200px;
    
}

#input-unit
{
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 14px;
    display: inline-block;
}

#output
{
    color: #FFFFFF;
    display: inline-block;
    margin-left: 527px;
}

#output-val
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: inline-block; 
}

#output-unit
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    display: inline-block;
    margin-left: 9px;
}

button
{
    background-color: #A9B4C2;
    font-family: "Poppins";
    border-radius: 21px;
    color: #2E0039;
    margin-left: 10px;
}
